.signUpContainer {
  margin: 30px auto;
  background-color: rgb(10, 133, 157);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: fit-content;
  padding: auto 30px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.signUpForm {
  display: grid;
  grid-template-columns: 200px 200px 100px 100px;
  text-align: flex-start;
  padding: auto 30px;
}

input,
label {
  margin-top: 17px;
  /* width: 200px; */
}

input,
textarea,
label {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label {
  grid-column: 1/2;
}

input {
  grid-column: 2/3;
}

textarea {
  margin-top: 17px;
  grid-column: span 2;
}

.instructions {
  grid-column: 3/4;
}

.signUpBtn {
  grid-column: 1/2;
  width: 80%;
}
