.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../../assets/blueish.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.btnContainer {
  /* width: 30vw; */
  margin-top: 400px;
  display: flex;
  justify-content: space-around;
}

.button20 {
  appearance: button;
  background-color: #87b38d;
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  border: 1.5px solid #566d59;
  border-radius: 1rem;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px;
  box-sizing: border-box;
  color: #3d443e;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0;
  padding: 0.5rem 2rem;
  text-align: center;
  text-transform: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button20:focus:not(:focus-visible),
.button20:focus {
  outline: 0;
}

.button20:hover {
  background-color: #7fa785;
  border-color: #3b513e;
}

.button20:focus {
  background-color: #7fa785;
  border-color: #3b513e;
  box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 inset,
    rgba(46, 54, 80, 0.075) 0 1px 1px, #425b4e80 0 0 0 0.2rem;
}

.button20:active {
  background-color: #7fa785;
  background-image: none;
  border-color: #3b513e;
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset;
}

.button20:active:focus {
  box-shadow: rgba(46, 54, 80, 0.125) 0 3px 5px inset, #425b4e80 0 0 0 0.2rem;
}

.button20:disabled {
  background-image: none;
  box-shadow: none;
  opacity: 0.65;
  pointer-events: none;
}
