/* Coolors Exported Palette - https://coolors.co/87b38d-feeafa-066274-141b41-000000 */

/* CSS HEX */
// --dark-sea-green: #87b38dff;
// --pale-purple-pantone: #feeafaff;
// --blue-sapphire: #066274ff;
// --space-cadet: #141b41ff;
// --black: #000000ff;

// /* CSS HSL */
// --dark-sea-green: hsla(128, 22%, 62%, 1);
// --pale-purple-pantone: hsla(312, 91%, 96%, 1);
// --blue-sapphire: hsla(190, 90%, 24%, 1);
// --space-cadet: hsla(231, 53%, 17%, 1);
// --black: hsla(0, 0%, 0%, 1);

/* SCSS HEX */
$dark-sea-green: #87b38dff;
$pale-purple-pantone: #feeafaff;
$blue-sapphire: #066274ff;
$space-cadet: #141b41ff;
$black: #000000ff;

/* SCSS HSL */
$dark-sea-green: hsla(128, 22%, 62%, 1);
$pale-purple-pantone: hsla(312, 91%, 96%, 1);
$blue-sapphire: hsla(190, 90%, 24%, 1);
$space-cadet: hsla(231, 53%, 17%, 1);
$black: hsla(0, 0%, 0%, 1);

/* SCSS RGB */
$dark-sea-green: rgba(135, 179, 141, 1);
$pale-purple-pantone: rgba(254, 234, 250, 1);
$blue-sapphire: rgba(6, 98, 116, 1);
$space-cadet: rgba(20, 27, 65, 1);
$black: rgba(0, 0, 0, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
$gradient-right: linear-gradient(
  90deg,
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
$gradient-left: linear-gradient(
  270deg,
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
$gradient-radial: radial-gradient(
  #87b38dff,
  #feeafaff,
  #066274ff,
  #141b41ff,
  #000000ff
);
