.FormContainer {
  margin: 30px auto;
  background-color: rgb(10, 133, 157);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  height: fit-content;
  padding: auto 30px;
  width: 600px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.ActiveForm {
  display: grid;
  grid-template-columns: 200px 200px 100px 100px;
  text-align: flex-start;
  padding: auto 30px;
}

input,
select,
label {
  margin-top: 17px;
  /* width: 200px; */
}

h1,
label {
  color: white;
}

input,
select,
textarea,
label {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

label {
  grid-column: 1/2;
}

input,
select {
  grid-column: 2/3;
}

textarea {
  margin-top: 17px;
  grid-column: span 2;
}

.FormSubmitBtn {
  grid-column: 1/2;
  width: 80%;
}

.errMsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

section {
  width: 800px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}
