@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Nunito", sans-serif;
}

body {
  min-height: 100vh;
  background-color: #066274;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcomeHeader {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

section {
  width: 800px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1.5rem;
  background-color: rgba(0, 0, 0, 0.4);
}

input,
button,
textarea {
  font-family: "Nunito", sans-serif;
  font-size: 20px;
  padding: 0.25rem;
  border-radius: 0.5rem;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: absolute;
  left: 75%;
  top: 205%;
  bottom: 20px;
  width: 100%;
  height: fit-content;
  margin: 5px 5px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.btnHidden {
  visibility: hidden;
}

.btnVisible {
  visibility: visible;
}

.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: rgb(255, 0, 0);
  margin-left: 0.25rem;
  cursor: pointer;
}

.errMsg {
  position: absolute;
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  top: -20px;
  border-radius: 3px;
}
.errMsgPrj {
  position: absolute;
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  top: -20px;
  left: 25px;
  border-radius: 3px;
}

.listContainer {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 60px;
}

.listHeader {
  color: white;
  text-shadow: rgb(64, 64, 64) 5px 3px;
}

.listItem {
  color: white;
  margin: 10px auto;
}

.listItem:hover {
  color: rgb(209, 138, 30);
  cursor: pointer;
  transition: all 0.4s ease;
}

.btnContainer {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

button {
  margin-top: 15px;
  width: 80px;
  align-self: center;
  width: 140px;
  border-radius: 8px;
  padding: 10px;
  font-size: large;
  cursor: pointer;
  border: 2px solid rgb(190, 156, 95);
}

button:hover {
  background-color: rgb(225, 183, 104);
  transition: ease 0.3s all;
}

button:enabled {
  background-color: rgb(214, 153, 41);
  color: white;
}

button:active:hover {
  border: 2px solid rgb(120, 174, 86);

  background-color: rgb(77, 119, 59);
}
