@import "https://fonts.googleapis.com/css?family=Roboto:100,300";
@import "https://fonts.googleapis.com/css?family=Roboto+Mono:300,700";

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.logo {
  padding: 13px;
}

ul {
  display: flex;
}

li,
a {
  color: rgb(34, 46, 75);
  display: inline-block;
  list-style: none;
  text-decoration: none;
  padding: 13px;
  font-family: "Nunito", sans-serif;
}

a:hover {
  background-color: rgb(143, 129, 129);
  border-radius: 5px;
}
