.motherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input,
select,
label {
  width: 70%;
  position: relative;
  text-align: flex-start;
}

h1,
label {
  color: white;
}

input,
select,
textarea,
label {
  font-family: "Nunito", sans-serif;
  font-size: 18px;
  padding: 0.25rem;
  border-radius: 0.5rem;
  margin-bottom: 5px;
}

label {
  position: relative;
}

.errMsg {
  background-color: lightpink;
  color: firebrick;
  font-weight: bold;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.authorSelectContainer {
  display: flex;
  justify-content: space-between;
}

.authorsList {
  display: flex;
  flex-direction: column;
  z-index: 10000;
}

select {
  height: 35px;
}

.radioBtnContainer {
  display: inline-flex;
  height: 50px;
  width: 300px;
}

.bigDaddy {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 60%;
  padding: 30px 0;
  padding: auto 30px;
  border-radius: 20px;
  background-color: rgb(10, 133, 157);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.listHeader {
  color: white;
  text-shadow: rgb(64, 64, 64) 5px 3px;
  margin: 15px 30px;
  font-size: 50px;
}

.itemBigDaddy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 70px;
  border-bottom: 4px solid #8b6010db;
}

.listItem {
  color: white;
  margin: 10px;
  padding-left: 40px;
  justify-content: flex-start;
}

.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.deleteIcon {
  margin-left: 10px;
  margin-top: 13px;
  align-items: center;
}

.listItem:hover {
  color: rgb(209, 138, 30);
  cursor: pointer;
  transition: all 0.4s ease;
}

.btnContainer {
  display: flex;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

.searchContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lblSearch {
  width: fit-content;
  font-size: 10px;
  display: flex;
  cursor: pointer;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  margin-bottom: 0.375em;
}

.inpSearch {
  width: fit-content;
  margin-left: 20px;
  position: absolute;
  left: -9999px;
}

.inpSearch:checked + .lblSpan {
  background-color: #d8daff65;
}
.inpSearch:checked + .lblSpan:before {
  box-shadow: inset 0 0 0 0.4375em #d69929;
}

.lblSpan {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  font-size: 20px;
}

.lblSpan:hover {
  background-color: #d8daff65;
}

.lblSpan:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #d69929;
}

.inpSearch:before {
  box-shadow: inset 0 0 0 0.4375em #d69929;
}

.searchAboutContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.lblSearchAbout {
  width: fit-content;
}

.inpSearchAbout {
  width: 30%;
  height: fit-content;
}

.inpSearchDesc {
  width: 30%;
  height: fit-content;
  margin-right: 10px;
}

.searchBtn {
  margin: 15px 0;
}

.mapContainer {
  display: grid;
  width: 80vw;
  grid-template-columns: repeat(3, 1fr);
  margin: 15px auto;
}

.dropdown {
  width: 30%;
}
